# Ada project specifics
*.ali
*.bexch
*.o
*.cgpr
*.metrix
metrix.xml
b__test_runner.adb
b__test_runner.ads
test_runner

project_pragmas
/build
# When we restructure our testing structure obj/ can be added to ignore file.
# The problem now is that the test projects are put in the obj/ folder.
# obj/
/tests
/build_logs
/xml_results/*.xml
b__test_runner.adb
b__test_runner.ads
test_runner
*.exe

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes
*~

# LaTeX
*.aux
*.bbl
*.blg
*.log
*.pdf
